@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Righteous&family=Roboto+Condensed&display=swap');
.brandname,.tagline{
    font-family: 'Righteous', cursive;
}
.buttons,.heading{
    font-family:'Poppins',sans-serif;
}
.mainHeading{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}
.subheading{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.cards{
    font-family: 'Poppins', sans-serif;
}
.card{
    border-radius: 6px;
    padding: 15px;
}
.cards .card .card-text div:first-child{
    font-weight:bold;
}
.socials img{
    width: 20px;
    height: 20px;
}
.hideoverflow{
    overflow-y: hidden!important;
}
.form{
    font-family: 'Poppins', sans-serif;
}
.slide{
    transition: all 0.5s ease-in;
    overflow: hidden;
}
.slideIn{
    transform: translateX(0px);
}
.slideOut{
    transform: translateX(500px);
}
.user-image{
    width: 100px;
    height: 100px;
}
input[type="file"]{
    display: none;
}
.noborder{
    border: none!important;
    background-color: none;
}
.borderbtm{
    border-bottom: 1px solid gray;
}
